html {
  font-family: "HY강M", Helvetica, "Apple SD Gothic Neo",sans-serif;
}

a{
  text-decoration: none;
  border: 2px solid #ffffff;
}


a.active {
  background-color: #000000;
  color: #c4d5f2;
  border: 2px solid #000000;
}

a:hover {
  background-color: #ffffff;
  color: #0e47a3;
  border: 2px solid #c4d5f2;
  text-decoration: none;
  border-radius: 2px;
}

#dd a:hover {
  background-color: #000000;
  border: 5px solid #000000;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
}

a:link {
  /*color: #7aa7ef*/
  color: #7088ad;
}

#dd a:visited {
  /*color: #7aa7ef*/
  color: #7088ad;
}

#dd {
  position: fixed;
  right: 10px;
  top: 100px;
  width: 120px;
  border: 3px solid #c4d5f2;
  background-color: #ffffff;
  border-radius: 5px;
}

span{
  border-top: 5px solid #c4d5f2;
  border-bottom: 5px solid #c4d5f2;
}

.backg {
  width: 800px;
  padding-right: 100px;
  background-color: #e8e9ed;
  border: 5px solid #e8e9ed;
  border-radius: 10px;
  padding-left: 100px;
}

nav a{
  text-align: center;
  display: inline-block;
  width: 100px;
  margin-left: 5%;
  border-radius: 3px;
  text-decoration: none;
}

header a{
  text-align: center;
  display: inline-block;
  width: 100px;
  margin-left: 5%;
  border-radius: 3px;
  text-decoration: none;
}

table{
  width: 700px;
  padding: 20px;
  border-radius: 10px;
  border: 4px solid #c4d5f2;
  background-color: #ffffff;
}

.cont {
  width: 660px;
  padding: 20px;
  border-radius: 10px;
  border: 4px solid #c4d5f2;
  background-color: #ffffff;
}

.card-container {
  cursor: pointer;
  perspective: 600;
  width: 150px;
  height: 152.7px;
  position: relative;
  margin-left: 30px;
}
.card {
  width: 100px;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #000000;
  color: #c4d5f2;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}

.hidden_img:hover{
  background-color: #ffffff;
  border: 3px solid #e8e9ed;
  border-radius: 3px;
  color: #000000;
}

.hidden_img{
  background-color: #e8e9ed;
  border: 3px solid #e8e9ed;
  border-radius: 3px;
  color: #7088ad;
}
